.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: #0A6562; /* Indigo-600 */
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 20px auto;
  z-index: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
